ido.last
*.cache
*.elc
.cache/
.dap-breakpoints
.emacs.d
.emacs.keyfreq
.lsp-session-v1
.mc-lists.el
.persistent-scratch
.saves/
auto-save-list/
commands
eclipse.jdt.ls/
elisp/custom.el
eln-cache/
elpa/
elpy/
emacs-saves/
emojis/
forge-database.sqlite
history
meghanada/
places
projectile-bookmarks.eld
projects
recentf
recentf~
straight/
transient/
tramp
url/
workspace/
