Brewfile.lock.json
/EmacsclientWrapper.app/Contents/_CodeSignature/
/EmacsclientWrapper.app/Contents/PkgInfo
/EmacsclientWrapper.app/Contents/Resources/
/EmacsclientWrapper.app/Contents/MacOS/
/.DS_Store
