.emacs.d/*.cache
.emacs.d/.cache/
.emacs.d/.dap-breakpoints
.emacs.d/.emacs.d
.emacs.d/.emacs.keyfreq
.emacs.d/.lsp-session-v1
.emacs.d/.mc-lists.el
.emacs.d/.persistent-scratch
.emacs.d/.saves/
.emacs.d/auto-save-list/
.emacs.d/commands
.emacs.d/eclipse.jdt.ls/
.emacs.d/elisp/custom.el
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/elpy/
.emacs.d/emacs-saves/
.emacs.d/emojis/
.emacs.d/forge-database.sqlite
.emacs.d/meghanada/
.emacs.d/places
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.emacs.d/recentf~
.emacs.d/straight/
.emacs.d/transient/
.emacs.d/url/
.emacs.d/workspace/
.vim/.vim
.vim/viminfo'
Brewfile.lock.json
commands
/.emacs.d/projects
/.emacs.d/tramp
