name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install emacs
      run: sudo apt-get install emacs
    - name: run emacs
      run: emacs --debug-init --batch -u $USER && echo "SUCCESS"
