name: CI

on: [push]

jobs:
  test-emacs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: 30.1
      - name: Copy Emacs config
        run: |
          mkdir -p ~/.emacs.d
          cp .emacs.d/init.el ~/.emacs.d/
          cp .emacs.d/early-init.el ~/.emacs.d/
          cp -r .emacs.d/core ~/.emacs.d/
          cp -r .emacs.d/elisp ~/.emacs.d/
          cp -r .emacs.d/ui ~/.emacs.d/
          cp -r .emacs.d/programming ~/.emacs.d/
      - name: Verify Emacs Config
        run: |
          echo '(setq debug-on-error t)' > ~/.emacs.d/debug-init.el
          emacs --batch --eval '(load "~/.emacs.d/early-init.el")' -l ~/.emacs.d/debug-init.el -l ~/.emacs.d/init.el --eval "(message \"Emacs config loaded successfully\")"
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    env:
      SHELLCHECK_OPTS: -e SC2034
    steps:
      - uses: actions/checkout@v2
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          ignore_names: .zshrc
